#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: rgba(2, 6, 0, 0.5);;
  background-size: cover;
  color: #333;
  padding: 10px;
}
.statistics {
  display: flex;
  flex-wrap: wrap;
  justify-self: space-between;
}
.search {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}
.searchInput {
  width:100%;
  padding: 0.5rem;
  font-size: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.filters {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
  flex-wrap: wrap;
 
}
.recipe-list {
 

  background-color: rgba(145, 174, 128, 0.7);
  border-radius: 20px;
  padding: 10px ;
  font-size: large;
}
.outer {
  display: flex;
  justify-content: space-between;
  align-items:start
  
}
.visualizations {
  background-color: rgba(145, 174, 128, 0.7);
  border-radius: 20px;
  padding: 30px 20px;
  font-size: large;
  margin-left: 20px;
  
}
.filters {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
}
.filter-item {
  margin: 0 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.App {
  display: flex;
  justify-content: space-between;
}

.main {
  width: 87%;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: green;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 10px;
}

.description {
  margin: 20px 0;
  font-size: 1.2em;
  color: #ffffff; /* Adjust according to your theme */
}
