.card {
    background-color: rgba(98, 154, 64, 0.9);
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    width: 220px;
    margin: 10px 10px 30px 10px;
}

.card h1 {
    font-size: 2em;
    margin: 0;
    font-weight: 500;
}