 /* APP.CSS */
 #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}




body {
  margin: 0; /* Remove default margin */
  height: 100vh; /* Full height */
  display: flex; /* Flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  background-image: url('https://th.bing.com/th/id/OIP.Zk0wQ405cF8kV0gR_wEPtgHaEK?rs=1&pid=ImgDetMain'); /* Background Image */
  background-size: cover; /* Cover the entire area */
  background-position: center; /* Center the image */
}



/* components/HeroSection.css */




.get-started-button {
  background-color: #ff6f61; /* Button color */
  color: white; /* Text color */
  padding: 15px 30px; /* Padding for button */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  font-size: 1.2rem; /* Button font size */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.get-started-button:hover {
  background-color: #e55c50; /* Darker color on hover */
}


.hero-container
{
  background-color: lightblue;
  color: black;
  padding: 2rem;

  
}


/* Styling for the title span in the Welcome message */
.title {
  color: #4CAF50; /* A green color to make it stand out */
  font-weight: bold; /* Bold font for emphasis */
  font-size: 2.5rem; /* Adjust the size */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Adds a subtle shadow for a pop effect */
  letter-spacing: 1.5px; /* Adds some spacing between letters */
  font-family: 'Roboto', sans-serif; /* Use a modern font */
}

